body {
  background-color: #0082FC;

}
table, tr{
  word-wrap: break-word;
}

#dash .container  {
  margin-top: 30px;

  height: 500px;
  box-shadow: 0px 0px 20px grey;

}
#dash .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#dash .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
#dash .btn-info {
  background-color: #0082FC;
  border-color:#0082FC;
}
#dash .btn-succes {
  background-color: #0082FC;
  border-color: #0082FC;
}
#dash .text-info {
  color: #0082FC!important;
}
#cont {
  margin-top:10vh;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:  #F9F8FA;
  box-shadow: 0px 0px 20px grey;
}

#dashbody{
  margin-top:5vh;
}
.alignRight{
  text-align: right;
}
