<!DOCTYPE html>
<html>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 href="#" class="active" id="sign-in"> Sign In </h2>
      <h2 href="$" class="inactive underlineHover" id="sign-up">Sign Up </h2>

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/UCF_Knights_logo.svg" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>
  </div>
</html>
