<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--- Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: #0082FC">
  <!-- <a href="/home" target="_blank"><img class="img" src="http://i63.tinypic.com/szehvk.jpg" border="0" alt="Image"></a> -->
  <a class="navbar-brand" href="/home" style="color: #0082FC">Bluetooth Attendance</a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-link">
        <a class="underlineHover" href="#" style="text-decoration: none">About</a>
      </li>
      <li class="nav-link">
        <a class= "underlineHover" href="#" style="text-decoration: none">Purchase Access</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="logIn" type="submit" [routerLink] = "['/login']">Sign In</button>
    </form>
  </div>
</nav>
