<!DOCTYPE html>

<html>
	<app-navbar2></app-navbar2>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<body>
		<div class = "container">
			<div class="intro">

				<h1>
					BLU-Attendance
				</h1>

	    	<h2>
					Improve your class attendance grading with a BLU-Attendance
				</h2>

				<p>
					An application that allows for professors to track student attendance via mobile app and Bluetooth, removing the need for expensive hardware and without being easily faked.
					<br>
				</p>

			</div>

			<img src="http://www.theinteractivestudio.com/blicker/images/system.png" id="icon" alt="computer hope"/>

			<input type="submit" class="register" value="Sign Up" [routerLink] = "['/register']">

		</div>
	</body>
</html>
